<?xml version="1.0"?>

<robot name="renov_robot">
  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.06 0.04 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
  </link>

  <link name="laser_link">
    <visual>
      <origin xyz="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.03" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="base_link" />

  <joint name="laser_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser_link" />
    <!--<origin xyz="0.485 -0.002 0" rpy="0 0 3.1415926"/> -->
    <origin xyz="0.485 -0.002 0" rpy="0 0 3.1415926"/> 
  </joint>

  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <!--<origin xyz="0.0385 -0.002 0" rpy="0 0 -1.5707963"/> -->
    <origin xyz="0 0 0" rpy="0 0 -1.5707963"/>
  </joint>


</robot>
